/* You can add global styles to this file, and also import other style files */

body{
    background-position-y: 10%;
    background-position-x: 20%;
    background-size: 100%;
    background-image: url("assets/apple-background.jpg");
}